<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="/static/some_exercise.js"></script>
<script src="static/js/buttons_in_home_page.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
{##style = "background-image: url(/static/images/5629499573825172_e522.jpg)"#}