{% extends "common.html" %}
<body>
{% block content %}
    <h1 align="center">Here you can buy our beer.</h1>
<a href="shopping_cart" type="button" class="btn Shopping_cart btn-secondary" id = "button_shopping_cart">Shopping cart</a>
    <ul>
        <li>Tomato Method (Smoky Hot Edition). It's spicy smoked beer with BBQ sauces and smoked chipotle.</li>
            <img src="{{photo1.Photo.url}}" width="200" height="222">
        <a href="shopping_cart_page?id=1" class="btn btn-primary btn-lg">Add to Shopping Cart</a>
        <li>Night in Bruges. Beer with a pronounced cherry flavor, combined with the sweetness of caramel and light hop bitterness. Fruit lambic in 2019 returned to the series “Brewer’s Collection”.</li>
            <img src="{{photo2.Photo.url}}" width="200" height="222">
        <a href="shopping_cart_page?id=2" class="btn btn-primary btn-lg">Add to Shopping Cart</a>
        <li>Grodziskie. It is a historical style of beer from Poland that is typically made from oak-smoked wheat malt.</li>
            <img src="{{photo3.Photo.url}}" width="200" height="222">
        <a href="shopping_cart_page?id=3" class="btn btn-primary btn-lg">Add to Shopping Cart</a>
        <li>Red Maniac. Chili IPA brewed with Bird`s Eye pepper and hopped with Columbus, Simcoe and Citra.</li>
            <img src="{{photo4.Photo.url}}" width="200" height="222">
        <a href="shopping_cart_page?id=4" class="btn btn-primary btn-lg">Add to Shopping Cart</a>
        <li>London Porter. It is an award-winning example of this historic English style; smooth and creamy with delicious chocolate and coffee flavors derived from the roasted malt.</li>
            <img src="{{photo5.Photo.url}}" width="200" height="222">
        <a href="shopping_cart_page?id=5" class="btn btn-primary btn-lg">Add to Shopping Cart</a>
    </ul>
{% endblock %}
</body>